{% load staticfiles %}
<html>
    <head>
        <title>NBMarketPlace</title>
        <link rel="stylesheet" href="{% static 'marketplace/marketplace.css'%}">
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript">
            /*
            $(document).on('change', '#numberz', function(){
                var num = $('#numberz').get("value");
            
            if(num == "10")
                $("#loop").replaceWith("{% if forloop.counter <= 10 %}");
            else if(num == "15")
                $("#loop").replaceWith("{% if forloop.counter <= 15 %}"); 
            else
                $("#loop").replaceWith("{% if forloop.counter <= 20 %}");
                
                {% endif %}
                {% endif %}
                {% endif %}
                
                $("#mydiv").load(location.href + " .row");
            }));
            */
        </script>
    </head>

    <body>
        <div class="containerhead">
            <div class="navbar">
               
                <div class="navbarElements1">
                    <a href="/marketplace/home/">Home</a>
                <form method="POST" class="post-form" enctype='multipart/form-data'>
					{% csrf_token %}
					<div class="inputF">{{ form }}</div>
				<button type="submit">Search</button>
				</form>
                </div>
                
                <div class="navbarElements2">
					{% if loggeduser %}
					<a href="/marketplace/addpost">Add a post</a>
					<a href="/marketplace/profile/{{ loggeduser.id}}">Hi, {{loggeduser.username}} !</a>
					<a href="/marketplace/logout/" >Log out</a>
					{% else %}
                    <a href="/marketplace/login/">Login</a>
                    <a href="/marketplace/signup/">Sign Up</a>
					{% endif %}
                </div>
            </div> 
        </div>
           
            <p>No. of Items: </p>
            <form method = 'POST'> {% csrf_token %}
            <select name= "numberz" id="numberz" onchange="this.form.submit()">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            </form>
          
         
        
		 
        <div class="containerbody">
         
            <div class="row">
                      {% for post in all_posts %} 
                            <div class="thumbnail">
                                <div>
                              {% if post.thumbnail %}
                                    <a href="/marketplace/viewitem/{{post.id}}/"><img id="productImage" src={{ post.thumbnail.url }}/></a>
                                {% else %}
                                    <a href ="/marketplace/viewitem/{{post.id}}/"><img id="productImage" src={% static "marketplace/images/placeholder.jpg" %}/></a>
                                {% endif %}
                                </div>
                                <div id="productDetails">
                                    <a href="/marketplace/profile/{{post.user.id}}">{{post.user}}</a><br><br>
                                    <h3>{{post.name}}</h3>
                                </div>
                                <div class="buttonrow">

                                    <div class="col-xs-12 col-md-6">
                                        <button class="btn btn-success" href="#">Add to Cart</button>
                                    </div>
                            </div>
                        </div>
                      {% endfor %}
            </div>
      
            
            
        </div>
        
        <div class="seemore">
            <button id="more">See More</button>
        </div>
        
        <div class="containerfooter">
            
        </div>
        
    </body>

</html>