{% load staticfiles %}
<html>
    <head>
        <title>NBMarketPlace</title>
        <link rel="stylesheet" href="{% static 'marketplace/makeoffer.css' %}">
    </head>

    <body>
        <div class="containerhead">
            <div class="navbar">
               
                <div class="navbarElements1">
                    <a href="/marketplace/home/">Marketplace</a>
                </div>
                
                <div class="navbarElements2">
					{% if loggeduser %}
					<div id="navbarelem"><a href="/marketplace/addpost" >Add a post</a></div>
					<div id="navbarelem"><a href ="/marketplace/profile/{{ loggeduser.id}}">Hi, {{loggeduser.username}} !</a></div>
					<div id="navbarelem"><a href="/marketplace/logout/">Log out</a></div>
					{% else %}
                    <div id="navbarelem"><a href="/marketplace/login/">Login</a></div>
                    <div id="navbarelem"><a href="/marketplace/signup/">Sign Up</a></div>
					{% endif %}
                </div>
            </div> 
        </div>
		
		<div class="containerbody" >
			<div class="offerbox" >
				<h1>Make an Offer</h1>
				<form class="details">
					<div><select id="selectoffer">
						<option value="exchange">Exchange Item</option>
						<option value="exchange">Purchase Item</option>
					</select></div>
					<div>Item: <input type="text" name="item" placeholder="Item Name"><div>
					<div><button type="submit">Submit</button><div>
				</form>
				
			</div>
		</div>
        
        
        <div class="containerfooter">
            
        </div>
        
    </body>

</html>