{% load staticfiles %}
<html>
    <head>
        <title>NBMarketPlace</title>
        <link rel="stylesheet" href="{% static 'marketplace/addpost.css' %}">
    </head>

    <body>
        <div class="containerhead">
            <div class="navbar">
               
                <div class="navbarElements1">
                    <a href="/marketplace/home/">Home</a>
                    <a></a>
                </div>
                
                <div class="navbarElements2">
                    <a href="/marketplace/login/">Login</a>
                    <a href="/marketplace/signup/">Sign Up</a>
                </div>
            </div> 
        </div>
        
        <div class="containerbody">
            <div class="postDetails">
				<form method="POST" class="post-form" enctype='multipart/form-data'>
				{% csrf_token %}
				{% for field in form %}
				<div class="details">
					<label>{{ field.label_tag }}</label>
					<div class="inputF">{{ field }}</div>
				</div>
				{% endfor %}
				<button type="submit">Register!</button>
				</form>
            </div>
        </div>
        
        <div class="containerfooter">
            
        </div>
        
    </body>

</html>