{% load staticfiles %}
<html>
    <head>
        <title>NBMarketPlace</title>
        <link rel="stylesheet" href="{% static 'marketplace/addpost.css' %}">
    </head>

    <body>
        <div class="containerhead">
            <div class="navbar">
               
                <div class="navbarElements1">
                    <a href="/marketplace/home/">Marketplace</a>
                </div>
                
                <div class="navbarElements2">
					{% if loggeduser %}
					<div id="navbarelem"><a href="/marketplace/addpost" >Add a post</a></div>
					<div id="navbarelem"><a href ="/marketplace/profile/{{ loggeduser.id}}">Hi, {{loggeduser.username}} !</a></div>
					<div id="navbarelem"><a href="/marketplace/logout/">Log out</a></div>
					{% else %}
                    <div id="navbarelem"><a href="/marketplace/login/">Login</a></div>
                    <div id="navbarelem"><a href="/marketplace/signup/">Sign Up</a></div>
					{% endif %}
                </div>
            </div> 
        </div>
		
		<div class="containerbody" >
			<div class="offerbox" >
				<h1>Update Offer</h1>
				<form method = 'POST'>
				{% csrf_token %}
					<select id="selectoffer" name="offertype" onchange="this.form.submit()"> 
						<option value="Swap">Exchange Item</option>
						<option value="Buy">Purchase Item</option>
					</select>
				</form>
				<!------------offer here--------------->
				<form method="POST" class="post-form" enctype='multipart/form-data'>
				{% csrf_token %}
				{% for field in form %}
				<div class="details">
					<label>{{ field.label_tag }}</label>
					<div class="inputF">{{ field }}</div>
				</div>
				{% endfor %}
				<div class="buttonbox"><button type="submit">Update!</button></div>
				</form>
			</div>
		</div>
        
        
        <div class="containerfooter">
            
        </div>
        
    </body>

</html>