{% load staticfiles %}

<html>
    <head>
        <title>NBMarketPlace</title>
        <link rel="stylesheet" href="{% static 'marketplace/viewitem.css'%}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
		<script>
			$(document).ready(function(){
				
			});
		</script>
	</head>

    <body>
        <div class="containerhead">
            <div class="navbar">
               
                <div class="navbarElements1">
                    <a href="/marketplace/home/">Home</a>
                <form method="POST" class="post-form" enctype='multipart/form-data'>
					{% csrf_token %}
					<div class="inputF">{{ form }}</div>
				<button type="submit">Search</button>
				</form>
                </div>
                
                <div class="navbarElements2">
					{% if loggeduser %}
					<a href="/marketplace/addpost">Add a post</a>
					<a href="/marketplace/profile/{{ loggeduser.id}}">Hi, {{loggeduser.username}} !</a>
					<a href="/marketplace/logout/" >Log out</a>
					{% else %}
                    <a href="/marketplace/login/">Login</a>
                    <a href="/marketplace/signup/">Sign Up</a>
					{% endif %}
                </div>
            </div> 
        </div>
        </div>
        
        <div class="containerbody">
            <div class="inner">
                <div id="itemImage">
					{%if posts.thumbnail %}
						<img src="{{posts.thumbnail.url}}" class="image" height="700" width="700">
					{%else%}
						<img src={% static "marketplace/images/placeholder.jpg" %}/>
					{%endif%}
						<div class="middle">
                        <a href="#" class="text">View Photo</a>
                    </div>
                </div>

                <div id="details">
                    <h2>{{posts.name}}</h2>
                    <div id="item">
                        <a href="/marketplace/profile/{{posts.user.id}}"><span>{{posts.user}}</span></a>
                        <span>Quantity: {{posts.quantity}}</span>
                        <span>Condition: {{posts.condition}}</span>
                        <span>Type: {{posts.type}}</span>
						{%if posts.type == 'Academic'%}
                        <span>Course name: {{posts.course_name}}</span>
						{% endif %}
                        <span>{{posts.tag}} </span>
                    </div>
                </div>
            </div>    
        </div>
        
        
        
        <div class="containerfooter">
            
        </div>
        
    </body>

</html>