{% load staticfiles %}

<html>
    <head>
        <title>NBMarketPlace</title>
        <link rel="stylesheet" href="{% static 'marketplace/viewitem2.css'%}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
	</head>

    <body>
	
	
	<div id = "container3">
			<div id = "subcont">
				<div id="closegrid">
					<a href = "/marketplace/viewitem/{{posts.id}}"><button id = "close" style="margin-left: 1700px; margin-top: 25px; background: none; border: none; cursor: pointer;"><img src="/static/marketplace/images/close.png" style="width: 30px; height: 30px;"></button></a>
				</div>
				<div id="enlargegrid">
				<center>
				<p>Title: {{offer.title}}</p>
				<p>Offer by: {{offer.user_Offer}}</p>
				<p>Status: {{offer.OfferStat}}</p>
				<p>Type: {{offer.OfferType}}</p>
				{% if offer.OfferType == 'Exchange' %}
				<p>Trade {{offer.post_To}} for {{offer.offer_post}}</p>
				{% elif offer.OfferType == 'Purchase'%}
				<p>Willing to pay {{offer.BidAmount}}</p>
				{%endif%}
				{%if offer.reason%}
				<p>Reason: {{offer.reason}}</p>
				{%endif%}
				{% for post in all_posts %}
				{%if offer.offer_post|stringformat:"s" == post.name%}
					<a href="/marketplace/viewitem/{{posts.id}}/"><img height = "175" width="175"id="productImage" src={{ post.thumbnail.url }}/></a>
				{%endif%}
				{%endfor%}
				
				</center>
				</div>
				<div id="buttons">
					<a href = '/marketplace/update/{{offer.id}}'><button id="Update">Update</button><a>
					<form method = 'POST'> {% csrf_token %}
					<button type="submit" name= "Cancel" id="Cancel" value="Cancel"/>Cancel</button>
					</form>
				</div>
			</div>
</div>
	<div id ="aye">
        <div class="containerhead">
            <div class="navbar">
               
                <div class="navbarElements1">
                    <a href="/marketplace/home/">Marketplace</a>
                </div>
                
                <div class="navbarElements2">
					{% if loggeduser %}
					<div id="navbarelem"><a href="/marketplace/addpost" >Add a post</a></div>
					<div id="navbarelem"><a href ="/marketplace/profile/{{ loggeduser.id}}">Hi, {{loggeduser.username}} !</a></div>
					<div id="navbarelem"><a href="/marketplace/logout/">Log out</a></div>
					{% else %}
                    <div id="navbarelem"><a href="/marketplace/login/">Login</a></div>
                    <div id="navbarelem"><a href="/marketplace/signup/">Sign Up</a></div>
					{% endif %}
                </div>
            </div> 
        </div>
        
        
        <div class="containerbody">
            <div class="inner">
                <div id="itemImage">
					{% if posts.thumbnail %}
						<img id = "photo" src="{{posts.thumbnail.url}}" class="image" height="700" width="700">
					{% else%}
						<img src={% static "marketplace/images/placeholder.jpg" %}/>
					{%endif%}
                </div>

                <div id="details">
                    <h2>{{posts.name}}</h2>
                    <div id="item">
                        <a href="/marketplace/profile/{{posts.user.id}}"><span>{{posts.user}}</span></a>
                        <span>Quantity: {{posts.quantity}}</span>
                        <span>Condition: <a href="/marketplace/filtersCond/{{posts.id}}"}>{{posts.condition}}</a></span>
                        <span>Type: <a href="/marketplace/filtersType/{{posts.id}}"}>{{posts.type}}<a></span>
						{%if posts.type == 'Academic'%}
                        <span>Course name: <a href="/marketplace/filtersCourse/{{posts.id}}"}>{{posts.course_name}}</a></span>
						{% endif %}
                        <span>Tag: <a href="/marketplace/search/{{posts.id}}"}>{{posts.tag}}</a> </span>
                    </div>
                </div>
            </div>

		
	</div>
       </div> 
        <div class="containerfooter">
            
        </div>
        
    </body>

</html>