@font-face {
    font-family: LeagueSpartan;
    src: url('fonts/leaguespartan.otf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/roboto.ttf');
}

@font-face {
    font-family: Dancing;
    src: url('fonts/dancing.otf');
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
	display: flex;
    justify-content: space-between;
}

.navbar a, .navbarElements1 a {   
    text-decoration: none;
    color: white;
}

.navbarElements1 {
    display: flex;
    justify-content: flex-start;
	padding: 10px 15px;

}

.navbarElements1 a{
    margin-right: 20px;
	font-family: "Dancing";
	font-size: 30px;
}

.navbarElements1:hover{
	background-color: #618685;
}

.navbarElements2{
    display: flex;
    margin-left: 10px;
	padding: 25px 35px;
}


.navbarElements2 a{
	padding: 10px 15px;
	font-family: LeagueSpartan;
}

.containerhead {
    background-color: #1C2833;
}

.containerbody {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.offerbox {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 300px;
	border: 15px solid black;
	padding: 20px;
	align-items: center;
}

.details {
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items: center;
	font-family: Roboto;
}

.offerbox h1 {
	font-family: LeagueSpartan;
}

.details select, .details input, .details button {
	margin: 10px 0px;
}

.details button {
	margin-left: 80px;
	background-color: rgb(28, 184, 65);
	border: none;
	padding: 5px 15px;
}
