@font-face {
    font-family: LeagueSpartan;
    src: url('fonts/leaguespartan.otf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/roboto.ttf');
}

@font-face {
    font-family: Dancing;
    src: url('fonts/dancing.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #E8F6F3;
}

.navbar {
	display: flex;
    justify-content: space-between;
}

.navbar a, .navbarElements1 a {   
    text-decoration: none;
    color: white;
}

.navbarElements1 {
    display: flex;
    justify-content: flex-start;
	padding: 10px 15px;

}

.navbarElements1 a{
    margin-right: 20px;
	font-family: "Dancing";
	font-size: 30px;
}

.navbarElements1:hover{
	background-color: #618685;
}

.navbarElements2{
    display: flex;
    margin-left: 10px;
	padding: 25px 35px;
}


.navbarElements2 a{
	padding: 10px 15px;
	font-family: LeagueSpartan;
}

.containerhead {
    background-color: #1C2833;
}


.containerbody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F6F3;
    padding: 20px;
}

.userdetails {
    display: flex;
    flex-direction: column;
}

.userdetails img{
    width: 200px;    
}

#userdets {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#userdets span{
    font-family: LeagueSpartan;
}


.row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 1100px;
    margin: 0px 20px;
}

.contRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.posts {
    margin: 10px;
}

#posts {
    margin: 10px;
}

.thumbnail{
    padding: 10px;
    font-family: Roboto;
	width: 306px;
	height: 500px;
	
}

.thumbnail img{
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
    border: 3px solid black;
	background-color: white;
	align-self: center;
}

input[type=text] {
    width: 200px;
    height: 41px;
    box-sizing: border-box;
    border: 4px solid black;
    font-size: 14px;    
    background-color: white;
    padding: 10px 10px 10px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 400px;
}


.inputF {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	position: relative;
}

.inputF label {
	font-family: Roboto;
	color: white;
	visibility: hidden;
}

.button {
	display:inline-block;
	margin-left: -4px;
	padding: 10px 10px;
	border: 3px solid black;
	color: white;
	background-color: black;
}

#productDetails a {
    text-decoration: none;
    color: black;
}

#productDetails a:hover {
    background-color: #E8F6F3;
    padding: 5px 10px;
}

#productDetails h3{
    font-size: 25px;
    margin: 0;
    text-align: center;
}


.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 0px; 
}

.buttons .btn{
    padding: 10px 20px;
    font-family: LeagueSpartan;
    background-color: rgb(28, 184, 65);
    border: none;
}

.buttons .btn:hover{
    padding: 10px 112px;
}

.postbox {
	display: flex;
	flex-direction: row;
}

.offersbox {
	width: 100%;
	margin-right: 20px;
}

#offer {
	background: #fefefe;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#offer p {
	margin: 0px;
}



